@import url('https://fonts.googleapis.com/css?family=Cormorant:400,500,600,700|Montserrat:400,500,600,700,800,900&subset=latin-ext');
$font-second:'Montserrat',
sans-serif;
$font-main:'Cormorant',
serif;
$white:rgb(255,255,255);
$blacker:rgb(33,33,33);
$black:rgb(0,0,0);
* {
    margin: 0;
    padding: 0;
    font-family: $font-main;
}

.header {
    background: url('../images/home/everythingg.png') no-repeat center;
    background-size: cover;
    height: auto;
    min-height: 800px;
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 100;
        padding-top: 15px;
        .nav__logo--link {
            display: flex;
            align-content: center;
            align-items: center;
            text-decoration: none;
            .nav__logo--text {
                color: $blacker;
                font-family: $font-second;
                font-size: 24px;
                font-weight: 700;
                width: 100px;
                padding-left: 98px;
            }
        }
        .nav__button--toggle {
            display: none;
            border: 0;
            width: 30px;
            height: 30px;
            cursor: pointer;
            opacity: 0.7;
            margin-bottom: 10px;
            background: none;
        }
        .nav__ul {
            display: flex;
            padding-right: 98px;
            .nav__li {
                list-style: none;
                padding-left: 25px;
                .nav__link {
                    text-decoration: none;
                    color: $blacker;
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: uppercase;
                    &:hover,
                    &:focus {
                        border-bottom: 2px solid $blacker;
                    }
                }
            }
        }
    }
    .header__text {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 314px;
        padding-left: 128px;
        padding-right: 15px;
        .header__h1 {
            color: $blacker;
            font-size: 46px;
            font-weight: 700;
            text-transform: uppercase;
        }
        .header__p {
            opacity: 0.95;
            color: $blacker;
            font-size: 22px;
            font-weight: 400;
        }
        .header__buttons {
            display: flex;
            flex-wrap: wrap;
            margin-top: 25px;
            .header_a {
                text-decoration: none;
                .header__button {
                    color: $white;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 20px 29px;
                    background-color: $blacker;
                    border: 1px solid $blacker;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        background-color: $white;
                        color: $blacker;
                    }
                }
                .header__button--hire {
                    margin-right: 20px;
                }
            }
        }
    }
}

.nav__sticky {
    height: 50px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    transition: 0.6s ease-in-out;
    background: $white;
    opacity: 0.95;
}

.about {
    height: auto;
    min-height: 400px;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .about__header {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .about__h2 {
            color: $black;
            font-size: 36px;
            font-weight: 400;
        }
        .about_p {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 543px;
            padding-top: 40px;
            .about__p--text {
                color: $blacker;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                text-align: center;
            }
            .about__p--link {
                text-decoration: none;
                .about__button {
                    width: 208px;
                    height: 51px;
                    margin-top: 28px;
                    color: $white;
                    font-size: 16px;
                    font-weight: 500;
                    box-shadow: -1px 10px 18px rgba(0, 0, 0, 0.15);
                    background-color: $blacker;
                    border: 1px solid black;
                    cursor: pointer;
                    &:hover {
                        color: $black;
                        background:$white;
                    }
                }
            }
        }
    }
    .about__skills {
        text-align: center;
        margin-top: 120px;
        .about__h5 {
            color: $black;
            font-size: 36px;
            font-weight: 400;
        }
        .about__row {
            margin-top: 42px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .about__column {
                display: flex;
                flex-direction: column;
                .about__h {
                    .about__h6 {
                        text-align: left;
                        color: $black;
                        padding-bottom: 11px;
                        font-size: 24px;
                        font-weight: 400;
                    }
                    .about__bar {
                        display: flex;
                        flex-wrap: wrap;
                        border-radius: 1px;
                        background-color: #dfdfdf;
                        min-width: 346px;
                        .about__bar--span {
                            width: inherit;
                            text-align: left;
                            height: 15px;
                            color: $black;
                            background: $black;
                            font-size: 1px;
                        }
                    }
                }
                .about__h--down {
                    margin-top: 51px;
                }
            }
            .about__middle {
                margin: 0 30px;
            }
        }
    }
}

.background__img {
    height: 401px;
    background: url('../images/services/img.jpg') no-repeat center;
    background-size: cover;
    z-index: -10;
}

.services {
    position: relative;
    top: -185px;
    left: 0;
    right: 0;
    margin: 0 100px;
    min-height: 517px;
    height: auto;
    box-shadow: 0 0 40px 9px rgba(0, 0, 0, 0.15);
    background-color: $white;
    text-align: center;
    .services_h5 {
        color: $black;
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 119px;
    }
    .services__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 41px;
        padding-left: 95px;
        padding-right: 95px;
        .services__column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 290px;
            .services__img--monitor {
                width: 51px;
                height: 45px;
            }
            .services__img--back {
                width: 45px;
                height: 45px;
            }
            .services__img--const {
                width: 38px;
                height: 44px;
            }
            .services__h4 {
                color: $black;
                font-size: 24px;
                font-weight: 700;
                padding: 17px 0;
            }
            .services__p {
                color: $black;
                font-size: 16px;
                font-weight: 600;
            }
        }
        .services__column--front {
            margin-bottom: 19px;
        }
        .services__column--back {
            padding-right: 20px;
            padding-left: 20px;
        }
        .services__column--cont {
            margin-bottom: 39px;
        }
    }
}

.portfolio {
    height: auto;
    min-height: 990px;
    .portfolio__container {
        text-align: center;
        .portfolio__p {
            color: $black;
            font-size: 36px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .portfolio__gallery {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 40px;
            .portoflio__row {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                .portoflio__img {
                    padding: 15px;
                    &:hover {
                        filter: grayscale(90%);
                        transition:0.7s;
                    }
                }
                .portfolio__icons {
                    position: absolute;
                    top: 190px;
                    bottom: 0;
                    left: 77px;
                    right: 40px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    .portfolio__icons--a {
                        margin: 2px;
                        opacity: 0;
                        transform: translateY(55%);
                        text-decoration: none;
                        .fsad {
                            border: 1px solid $white;
                            border-radius: 100%;
                            padding: 10px;
                            color: $white;
                            &:hover {
                                background-color: $black;
                                color: $white;
                                cursor: pointer;
                            }
                        }
                    }
                    .portfolio__icons--text {
                        position: relative;
                        top: -40px;
                        bottom: 100px;
                        left: 0;
                        right: 0;
                        color: $white;
                        ;
                        font-size: 30px;
                        font-weight: 700;
                    }
                    .portfolio__icons--down {
                        position: relative;
                        top: 0;
                        bottom: 100px;
                        left: -150px;
                        right: 0;
                    }
                }
            }
            .portfolio__pop {
                position: relative;
                &:hover {
                    opacity: 1;
                    transform: translateX(0);
                    .portfolio__icons--a {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
                &:hover {
                    .portfolio__icons--a:nth-child(2) {
                        transition-delay: 0.1s;
                    }
                }
                &:hover {
                    .portfolio__icons--a:nth-child(3) {
                        transition-delay: 0.2s;
                    }
                }
            }
            .portfolio__pop *,
            .portfolio__pop *:before,
            .portfolio__pop *:after {
                transition: all 0.35s ease;
            }
        }
        .portfolio__button {
            box-shadow: -1px 10px 24px rgba(0, 0, 0, 0.18);
            border: 1px solid $blacker;
            background-color: $black;
            color: $white;
            font-size: 16px;
            font-weight: 500;
            padding: 20px 40px;
            margin-top: 40px;
            cursor: pointer;
            &:hover,
            &:focus {
                background-color: $white;
                color: $black;
                transition: 0.6s;
            }
        }
    }
}

.funfact {
    background: url('../images/portfoolio/paralax-img.png') no-repeat center;
    height: auto;
    min-height: 300px;
    background-size: cover;
    .funfact__container {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        padding-top: 30px;
        .funfact__column {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .funfact__h6 {
                color: $white;
                font-size: 100px;
                font-weight: 300;
            }
            .funfact__p {
                color: $white;
                font-size: 30px;
                font-weight: 400;
            }
        }
    }
}

.form {
    min-height: 669px;
    height: auto;
    .form__container {
        text-align: center;
        .form__h4 {
            color: $black;
            font-size: 36px;
            font-weight: 400;
            text-transform: uppercase;
            padding-top: 121px;
        }
        .form__text {
            display: flex;
            justify-content: center;
            padding-top: 50px;
            .form__main {
                display: flex;
                flex-direction: column;
                .form__row {
                    display: flex;
                    flex-direction: row;
                }
                input[type=text],
                input[type=email] {
                    border: none;
                    border-bottom: 1px solid $black;
                    min-width: 570px;
                }
                input[type=email] {
                    margin-left: 31px;
                }
                textarea {
                    margin-top: 54px;
                    border: none;
                    border-bottom: 1px solid $black;
                    max-width: 1200px;
                    max-height: 300px;
                }
                input[type=text]::placeholder,
                input[type=email]::placeholder,
                textarea::placeholder {
                    color: $black;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 10px 10px;
                }
            }
        }
    }
    .form__btn {
        .form__a {
            text-decoration: none;
            .form__button {
                color: $blacker;
                box-shadow: -1px 14px 24px rgba(0, 0, 0, 0.18);
                border: 1px solid $blacker;
                background-color: $white;
                font-size: 16px;
                padding: 20px 56px 20px 46px;
                font-weight: 500;
                margin-top: 41px;
                cursor: pointer;
                &:hover {
                    color: $white;
                    background: $black;
                    transition: 0.5s;
                }
                .form__img {
                    margin-left: 4px;
                }
            }
        }
    }
}

.footer {
    min-height: 103px;
    height: auto;
    background: $black;
    padding-left: 99px;
    padding-top: 34px;
    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer__links {
            display: flex;
            .footer__a {
                text-decoration: none;
                padding-right: 12px;
                .fab {
                    padding: 11px;
                    border-radius: 100%;
                    border: 1px solid $white;
                    color: $white;
                }
                .fb,
                .tw,
                .lin,
                .gp {
                    &:hover {
                        background: $white;
                        color: rgb(66, 103, 178);
                        transition: 0.5s;
                    }
                }
                .gp {
                    &:hover {
                        color: rgb(220, 78, 65);
                    }
                }
                .tw {
                    padding: 11px;
                }
                .fb {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .lin {
                    padding-left: 13px;
                    padding-right: 13px;
                }
            }
        }
        .footer__text {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;
            .footer__p {
                color: $white;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
    .footer__a--btn {
        text-decoration: none;
        .footer__up {
            color: $black;
            background: $white;
            padding: 15px 20px;
            border-radius: 100%;
            &:hover {
                transition: 0.5s;
                background: rgb(66, 103, 178);
            }
        }
    }
}